

@media(max-width: 979px){
    #video{
        width: 200px;
        height: 200px;
    }
}

#nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#header {
    position: fixed;
    top: 0;
}